.qr-code_history{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 100px 0;
}
.qr-code_history-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.qr-code_history-list-item_text {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}